header {
  background-color: #71aede;
  font-size: 35px;
  text-align: center;
  padding-bottom: 10px;
}

.board {
  display: grid;
  grid-template-rows: repeat(5, auto);
  grid-template-columns: repeat(7, 120px);
  background-color: #4b4b4b;
  padding: 10px;
}

.plunderArea {
  margin: 10px;
  padding: 5px;
  border: solid 2px black;
  border-radius: 10px;
  height: 130px;
  background-color: rgba(225, 225, 225, .8);
}

.fortress1 {
  grid-row: 1 / 2;
  grid-column: 1 / 2;
}
.fortress2 {
  grid-row: 1 / 2;
  grid-column: 2 / 3;
}

.fortress3 {
  grid-row: 1 / 2;
  grid-column: 3 / 4;
}

.fortress4 {
  grid-row: 1 / 2;
  grid-column: 4 / 5;
}

.fortress5 {
  grid-row: 1 / 2;
  grid-column: 5 / 6;
}

.fortress6 {
  grid-row: 1 / 2;
  grid-column: 6 / 7;
}

.monastery1 {
  grid-row: 2 / 3;
  grid-column: 1 / 2;
}

.monastery2 {
  grid-row: 2 / 3;
  grid-column: 2 / 3;
}

.monastery3 {
  grid-row: 2 / 3;
  grid-column: 5 / 6;
}

.monastery4 {
  grid-row: 2 / 3;
  grid-column: 6 / 7;
}

.outpost1 {
  grid-row: 2 / 3;
  grid-column: 3 / 4;
  margin-top: 100px;
}

.outpost2 {
  grid-row: 2 / 3;
  grid-column: 4 / 5;
  margin-top: 100px;
}

.outpost3 {
  grid-row: 3 / 4;
  grid-column: 5 / 6;
}

.outpost4 {
  grid-row: 3 / 4;
  grid-column: 6 / 7;
}

.township1 {
  grid-row: 1 / 2;
  grid-column: 7 / 8;
}

.township2 {
  grid-row: 2 / 3;
  grid-column: 7 / 8;
  margin-top: 50px;
}

.township3 {
  grid-row: 3 / 4;
  grid-column: 7 / 8;
}

.harbor1 {
  grid-row: 3 / 4;
  grid-column: 1 / 2;
  margin-top: 100px;
}

.harbor2 {
  grid-row: 3 / 4;
  grid-column: 2 / 3;
  margin-top: 100px;
}

.harbor3 {
  grid-row: 3 / 4;
  grid-column: 3 / 4;
  margin-top: 100px;
}

.harbor4 {
  grid-row: 4 / 5;
  grid-column: 2 / 3;
}

.harbor5 {
  grid-row: 4 / 5;
  grid-column: 3 / 4;
}

.harbor6 {
  grid-row: 4 / 5;
  grid-column: 4 / 5;
}

.harbor7 {
  grid-row: 5 / 6;
  grid-column: 3 / 4;
}

.harbor8 {
  grid-row: 5 / 6;
  grid-column: 4 / 5;
}

.harbor9 {
  grid-row: 5 / 6;
  grid-column: 5 / 6;
}

.location {
  position: relative;
  text-shadow: 1px 1px 4px gray;
  font-size: 18px;
  padding-top: 20px;
}

img.plunder {
  width: 30px;
  height: 30px;
  margin: 5px;
}

.location-plunder-count {
  position: absolute;
  border-radius: 5px;
  top: -15px;
  left: -10px;
  color: white;
  background-color: green;
  padding: 5px;
}

.plunderBag {
  grid-column: 1 / 2;
  grid-row: 5 / 6;
  padding: 10px;
}

.plunderbag-title {
  background-color: rgba(240, 240, 240, .8);
  text-shadow: 1px 1px 4px gray;
  font-size: 16px;
  padding: 5px;
  border-radius: 5px;
  text-align: center;
}

.counts {
  font-size: 14px;
  color: rgba(240, 240, 240, .8);
  text-align: center;
}